.navbar{
    background-color: white;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, .25);
}

.home{
    margin-top: 100px;
}

.home h3{
    font-size: 48px;
}

.home h1{
    font-size: 72px;
}

.home .btn.button{
    border: 3px solid black;
    border-radius: 24px;
}

.home .btn.button:hover{
    background-color: black;
    color: white;
}

.home .arrow{
    margin-top: 20px;
}

.home .arrow img{
    width: 60px;
    margin-top: 5px;
    animation: upDown 1s infinite;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}