.navbar{
    background-color: white;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, .25);
}

section{
    margin:0 58px;
    position: relative;
}

section::before{
    z-index: -1;
    content: '';
    font-size: 72px;
    position: absolute;
    top: -110px;
    left: -30px;
    font-weight: 700;
    color: grey;
    opacity: 0.30;
}

.home{
    margin-top: 100px;
}

.home h3{
    font-size: 48px;
}

.home h1{
    font-size: 72px;
}

.btn.button{
    border: 3px solid black;
    border-radius: 24px;
}

.btn.button:hover, .btn.button.active{
    background-color: black;
    color: white;
}

.home .arrow{
    margin-top: 50px;
}

.home .arrow img{
    width: 60px;
    margin-top: 5px;
    animation: upDown 1s infinite;
}

.about{
    margin-top: 250px;
}

.about::before{
    content: 'About';
}

.about-exp-item{
    margin-top: 30px;
}

.about-exp-item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.about-exp-item-detail{
    display: none;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}